.swiper-container {
    width: 100%;
    height: 330px;
}

.swiper-button-prev, .swiper-button-next{
    color: white;
}

.movie-description{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    padding: 5px 30px;
    width: 100%;
}